/* Общие стили для body */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Заполняем высоту видимой области окна браузера */
}

/* Стили для колонки */
.column {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    margin: 20px;
}

/* Стили для изображений внутри .column */
img {
    max-width: 100%; /* Максимальная ширина изображения - ширина колонки */
    height: auto; /* Сохранить пропорции изображения */
}

.bilingual-list {
  list-style-type: none;
  padding-left: 0; /* Убираем отступ слева у списка */
}

.bilingual-list li {
  margin-bottom: 10px; /* Добавляем небольшой отступ между элементами списка */
}

.bilingual-list li::before {
  content: "\2022"; /* Устанавливаем символ "•" в качестве маркера */
  color: #93ACA7; /* Задаем цвет маркера */
  display: inline-block;
  width: 1em; /* Ширина маркера */
  margin-right: 10px; /* Добавляем небольшой отступ между маркером и текстом */
  font-size: 1.5em; /* Увеличиваем размер маркера до 1.5em */
  line-height: 1; /* Сбрасываем межстрочный интервал, чтобы точка была выровнена вертикально */
}

.tooltip {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    /* Изменяем местоположение и угол появления */
    bottom: 20px;
    right: 20px;
    transform-origin: bottom right;
    /* Применяем анимацию */
    animation: tooltipAnimation 5s ease-in-out;
}

@keyframes tooltipAnimation {
    0% {
        transform: translateY(20px) scale(0.7); /* Начальное положение и масштаб */
        opacity: 0;
    }
    20% {
        transform: translateY(0) scale(1); /* Возвращаемся в исходное положение и масштаб */
        opacity: 1;
    }
    80% {
        transform: translateY(0) scale(1); /* Оставляем подсказку видимой */
        opacity: 1;
    }
    100% {
        transform: translateY(-20px) scale(0.7); /* Постепенно исчезаем вверх и уменьшаем масштаб */
        opacity: 0;
    }
}
