body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header {
    text-align: right;
    width: 100vw;
    position: relative;
    margin: 0;
    padding: 0;
    height: auto;
}

header img {
    width: 100%;
    height: auto;
}

.buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.button {
    background-color: #003320;
    color: #FFFEF8;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 10px;
}

.container1, .container2, footer {
    width: 100vw;
    padding: 0;
    margin: 0;
}

.container1 {
    background-image: url('background1.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Устанавливаем высоту контейнера равной высоте окна браузера */
}


.container2 {
    background-color: #FFFEF8;
    height: auto;
    background-size: cover;
    text-align: center;
}

.instructions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.step {
    text-align: center;
    margin-bottom: 20px;
}

.circle {
    width: 10vw;
    height: 10vw;
    background-color: #003320;
    border-radius: 50%;
    display: inline-block;
}

.step p {
    margin-top: 10px;
}

footer {
    background-color: #FFFEF8;
    padding: 20px;
    text-align: center;
}

hr {
    border: 1px solid black;
}

footer nav {
    margin-top: 10px;
}

footer nav a {
    color: #003320;
    text-decoration: none;
    margin: 0 10px;
}
