/* Общие стили для body */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Заполняем высоту видимой области окна браузера */
}

/* Стили для колонки */
.column {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    margin: 20px;
}

/* Стили для абзацев */
p {
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    margin: 0 0 10px 0; /* Добавляем небольшой отступ снизу каждого абзаца */
    transition: background-color 0.3s;
}

/* Стили для абзацев */
p {
    /* ... (ваши текущие стили) */
    transition: background-color 0.3s, transform 0.3s; /* Добавляем анимацию для изменения цвета фона и трансформации */
    transform-origin: top; /* Устанавливаем точку трансформации в верхней части абзаца */
}

/* Дополнительные стили для абзацев с английским текстом */
p[data-lang="en"] {
    transform: scaleY(0); /* Начальное состояние для анимации - абзацы английского текста не видимы */
}

/* При наведении курсора на абзац с английским текстом, делаем его видимым и масштабируем */
p[data-lang="en"]:hover {
    transform: scaleY(1);
}

/* При наведении курсора на абзац с русским текстом, делаем его невидимым и масштабируем */
p[data-lang="ru"]:hover {
    transform: scaleY(0);
}
