/* Общие стили для body */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Заполняем высоту видимой области окна браузера */
}

/* Стили для колонки */
.column {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    margin: 20px;
}

/* Стили для изображений внутри .column */
img {
    max-width: 100%; /* Максимальная ширина изображения - ширина колонки */
    height: auto; /* Сохранить пропорции изображения */
}

.bilingual-list {
  list-style-type: none;
}

.bilingual-list li::before {
  content: "\2022"; /* Устанавливаем символ "•" в качестве маркера */
  color: #93ACA7; /* Задаем цвет маркера */
  display: inline-block;
  width: 1em; /* Ширина маркера */
font-size: 2em;
  margin-left: -1em; /* Отрицательный margin сдвигает маркер влево */
}
